@model ChallengeIndividual.Models.Post

@{
    ViewData["Title"] = "Details";
}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-12">
            

            @if (@Model.Image != null)
            {
                <img src="~/images/@Model.Image" alt="@Model.Title"  class="card-img p-2">
            }
            else
            {
                <img src="http://via.placeholder.com/640x360" class="card-img m-2">


            }


        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Article</p>
                <p class="card-text"><small class="text-muted">@Model.CreatedAt</small></p>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="List" class="btn btn-outline-success my-2 my-lg-0">Back to List</a>
</div>
