@model IEnumerable<ChallengeIndividual.Models.Post>

@{
    ViewData["Title"] = "Index";
}
<h1>Posts</h1>
<form class="form-inline my-2 my-lg-0" asp-action="Search" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
</form>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger mt-2" role="alert" >
        @ViewBag.Error
    </div>
}
else
{
    <div class="container">

        <div class="col-md-12">
            <div class="card-group">
                @foreach (var item in Model)
                {
                    <div class="card m-3">
                        <img class="card-img-top" src="~/images/@item.Image" alt="@item.Title" style="height:300px;width:auto;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>

                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <p class="card-text"><small class="text-muted">@item.CreatedAt</small></p>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
}



